/*一般設定*/
#content{
  margin-top:0 !important;
  width: 100% !important;
}

.wrap{
  width: 100% !important;
  margin: 0 auto !important;
  padding: 0 !important;
}

#content-in{
  margin:0 0;
}

.main{
  padding:0 0 !important;
  border:none !important;
}

.footer{
  margin-top: 0 !important;
}

/*お知らせ*/
.news-section{
  width: 60%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255,0.8);
  padding: 50px 20px;
  }

.blog-ul{
  width: 100%;
}

.blog-li{
  display: flex;
  //justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}
.li-text{
  padding-left: 20px;
  width: 70%;
  font-size: 14px;
}

.li-text:hover{
  color: #D04FF7;
}

.li-text h3{
  color: #4682b4;
  font-size: 24px;
  margin-bottom: 10px;
}

.blog-ul,.blog-li{
  list-style-type: none;
}

.blog-li{
  border-bottom: 1px dotted #333;
  padding-bottom: 10px;
}

.news-section button{
  display: block;
  margin: 20px auto 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #E38FFD;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.news-section button:hover{
  background-color: #D04FF7;
}