/*サイドバー消去*/
#sidebar{
    display: none;
}

#main{
  width: 100% !important;
  margin: 0 auto !important;
  padding: 0 !important;
}
/*サイドバーここまで*/

#content{
  margin-top:0 !important;
  width: 100% !important;
  overflow-x: hidden;
}

.wrap{
  width: 100% !important;
  margin: 0 auto !important;
  padding: 0 !important;
}

#content-in{
  margin:0 0;
}

.content-in{
  display: block !important;
}

.main{
  padding:0 0 !important;
  border:none !important;
}

.footer{
  margin-top: 0 !important;
}