@charset "UTF-8";

/*!
Theme Name: Cocoon Child
Description: Cocoon専用の子テーマ
Theme URI: https://wp-cocoon.com/
Author: わいひら
Author URI: https://nelog.jp/
Template: cocoon-master
Version: 1.1.3
*/

/* --- Import各セクションのCSS --- */
@import url('./my-css/reset.css');
@import url('./my-css/common.css');
@import url('./my-css/header.css');
@import url('./my-css/cover.css');
@import url('./my-css/news.css');
@import url('./my-css/about.css');
@import url('./my-css/contents.css');
@import url('./my-css/office.css');
@import url('./my-css/inquire.css');
@import url('./my-css/faq.css');
@import url('./my-css/responsive900.css');
@import url('./my-css/responsive540.css');