@charset "UTF-8";

/*セクション3 About us*/
.about-container {
  width: 100%;
  height: auto;
  background-color: #000;
  padding: 150px 0;
}

.about-box {
  width: 980px;
  margin: 50px auto;
}

.about-content {
  display: flex;
}
  
.about-article h3 {
  color: #D04FF7;
  font-family: "DotGothic16", sans-serif;
  font-size: 36px;
  font-weight: 100;
  margin-bottom: 20px;
}

.about-textbox {
  display: flex;
}

.text-num {
  color: #fff;
  font-family: "DotGothic16", sans-serif;
  font-size: 128px;
  line-height: 1;
}

.text-article {
  color: #fff;
  font-size: 20px;
  width: 500px;
  line-height: 1.6;
  margin-left: 20px;
}

.about-image-right {
  margin-left: 30px;
}

.about-image-left {
  margin-right: 30px;
}

.about-image img {
  width: 300px;
  height: auto;
}

/* 表示されたときに付与されるクラス */
.about-article01,
.about-image-left02 {
  opacity: 0;
  transform: translateX(-80px);
  transition: opacity 2s ease, transform 2s ease; 
}

.about-article01.fade-in,
.about-image-left02.fade-in {
  opacity: 1;
  transform: translateX(0);
}

.about-image-right01,
.about-article02 {
  opacity: 0;
  transform: translateX(80px);
  transition: opacity 2s ease, transform 2s ease; 
}

.about-image-right01.fade-in,
.about-article02.fade-in {
  opacity: 1;
  transform: translateX(0);
}

/*about02*/
.about02-container {
  padding: 200px 0;
  height: auto;
  position: relative;
}

.background02 {
  background-image: url('../images/e-sport.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about02-wrapper {
  background-color: rgb(255, 255, 255, 0.7);
  margin: 0 auto;
  width: 60%;
  height: auto;
}

.about02-textbox {
  text-align: center;
  padding: 80px 75px;
}

.about02-textbox h2 {
  font-size: 36px;
  color: #D04FF7;
  padding-bottom: 50px;
}

.about02-textbox p {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  line-height: 1.6;
  margin-bottom: 30px;
}