@charset "UTF-8";

/*セクション4 Contents*/
.suzaki-contents {
  background-color: #000;
  width: 100%;
  height: auto;
  padding: 150px 0;
  z-index: -2;
}

.suzaki-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.suzaki-space img {
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 0;
}

.suzaki-textbox {
  width: 60%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom: 2px dotted #fff;
  margin-bottom: 30px;
}

.suzaki-textbox:nth-child(6) {
  border-bottom: none;
  margin-bottom: 100px;
  padding-bottom: 0;
}

.suzaki-flex-L {
  display: flex;
  justify-content: space-between;
}

.suzaki-flex-R {
  display: flex;
  justify-content: space-between;
}

.suzaki-textbox h3 {
  font-size: 36px;
  color: #D04FF7;
  font-family: "DotGothic16", sans-serif;
  padding-bottom: 20px;
  z-index: 9999;
  font-weight: normal;
}

.suzaki-text01 {
  width: 50%;
  height: auto;
  color: #fff;
}

.suzaki-text01 p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  font-weight: 400;
}

.suzaki-img {
  width: 350px;
  height: auto;
  z-index: 5;
}

.suzaki-textbox,
.suzaki-flex,
.suzaki-text01,
.suzaki-img {
  position: relative;  
  z-index: 10;         
}

/* 表示されたときに付与されるクラス */
.slide-left-text,
.slide-left-img {
  opacity: 0;
  transform: translateX(-80px);
  transition: opacity 2s ease, transform 2s ease; 
}

.slide-left-text.fade-in,
.slide-left-img.fade-in {
  opacity: 1;
  transform: translateX(0);
}

.slide-rigit-img,
.slide-right-text {
  opacity: 0;
  transform: translateX(80px);
  transition: opacity 2s ease, transform 2s ease; 
}

.slide-rigit-img.fade-in,
.slide-right-text.fade-in {
  opacity: 1;
  transform: translateX(0);
}

/*キャラ*/
.suzaki-character {
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: space-between;
}

.suzaki-character img {
  width: 143px;
  height: 151px;
}