@charset "UTF-8";

/*カバー*/
.my-cover {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.top-video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.my-cover-area {
  position: absolute;
  top: 15%;
  left: 10%;
}

.my-cover-text01 {
  color: #fff;
  margin-bottom: 20px;
  position: relative;
  z-index: 5;
}

.my-cover-text01 h2 {
  position: absolute;
  font-size: 40px;
  text-shadow: 2px 6px 3px rgb(0, 0, 0, 0.5);
  top: -10px;
  left: 40px;
}

.text01-back {
  background-color: #9CD7F6;
  width: 450px;
  height: 60px;
  clip-path: polygon(8% 0, 100% 0, 92% 100%, 0% 100%);
}

.my-cover-text02 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;
  z-index: 2;
  position: relative;
}

.my-cover-text02 h2 {
  position: absolute;
  font-size: 40px;
  text-shadow: 2px 6px 3px rgb(0, 0, 0, 0.5);
  top: -10px;
  left: 40px;
}

.text02-back {
  background-color: #E38FFD;
  width: 650px;
  height: 60px;
  clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
}

.my-cover-text03 {
  background-color: rgb(255, 255, 255, 0.8);
  font-size: 20px;
  color: #000;
  width: 740px;
  padding: 30px 50px;
  margin-bottom: 50px;
}

.my-cover-info {
  background-color: #D04FF7;
  border-radius: 10px;
  color: #fff;
  width: 500px;
  text-align: center;
  padding: 20px 0;
}

.my-cover-info h3 {
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px 6px 3px rgb(0, 0, 0, 0.5);
}

.my-cover-info p {
  text-shadow: 2px 6px 3px rgb(0, 0, 0, 0.5);
}

/* 表示されたときに付与されるクラス */
.my-cover-text01 {
  opacity: 0;
  transform: translateX(-80px);
  transition: opacity 2s ease, transform 2s ease; 
}

.my-cover-text02 {
  opacity: 0;
  transform: translateX(-80px);
  transition: opacity 2s ease, transform 2s ease; 
}

.my-cover-text03 {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 2s ease, transform 2s ease; 
}

.my-cover-info {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 2s ease, transform 2s ease; 
}

.my-cover-text01.fade-in {
  opacity: 1;
  transform: translateX(0);
}

.my-cover-text02.fade-in {
  transition-delay: 1s;
  opacity: 1;
  transform: translateX(0);
}

.my-cover-text03.fade-in {
  transition-delay: 2s;
  opacity: 1;
  transform: translateY(0);
}

.my-cover-info.fade-in {
  transition-delay: 2s;
  opacity: 1;
  transform: translateY(0);
}