@charset "UTF-8";

/*セクション7 よくある質問*/
.qa-content {
  width: 100%;
  background-color: #000;
  height: auto;
}

.qa-title {
  margin: 0 auto;
  width: 40%;
  padding: 100px 0;
  position: relative;
}

.qa-title-back {
  background-color: #9CD7F6;
  width: 100%;
  height: 60px;
  clip-path: polygon(8% 0, 100% 0, 92% 100%, 0% 100%);
}

.qa-text01 {
  color: rgb(255, 255, 255, 0.6);
  font-family: "DotGothic16", sans-serif;
  font-size: 64px;
  position: absolute;
  top: 40px;
}

.qa-text02 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  text-shadow: 2px 6px 3px rgb(0, 0, 0, 0.5);
  position: absolute;
  top: 100px;
  left: 30px;
}

.qa-mytitle-text {
  top: 70px;
}

.qa-my-title {
  font-size: 48px;
  font-weight: 400;
}

/*質問→B型事業所とは*/
.typeB-content {
  width: 60%;
  margin: 0 auto;
  padding: 50px 0;
}

.typeB-exp01 {
  width: 100%;
  display: flex;
}

.typeB-exp01-img {
  width: 30%;
}

.typeB-exp01-img img {
  width: 185px;
  height: 256px;
}

.typeB-exp01-text {
  width: 70%;
  color: #fff;
}

.typeB-exp01-text p {
  font-size: 16px;
  line-height: 1.6;
  padding: 20px 0;
}

.typeB-exp01-text h3 {
  font-size: 20px;
  line-height: 1.6;
  text-decoration: underline;
  text-decoration-color: #D04FF7;
}

.typeB-exp02 {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

.typeB-exp02-title {
  text-align: center;
  padding-bottom: 20px;
}

.typeB-exp02 h3 {
  color: #fff;
  font-size: 40px;
}

.line01 {
  border-bottom: 2px dotted #fff;
}

.target-title {
  position: relative;
}

.target-title-back {
  background-color: #E38FFD;
  width: 111px;
  height: 30px;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
}

.target-title-text {
  color: #fff;
  text-shadow: 2px 6px 3px rgb(0, 0, 0, 0.5);
  font-size: 24px;
  position: absolute;
  top: -8px;
  left: 20px;
}

.exp01 {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  font-size: 20px;
  padding: 20px 0;
}

.available {
  padding-top: 30px;
}

.available-back {
  background-color: #9CD7F6;
  width: 130px;
}

.typeB-exp02-text {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
  padding: 20px 0;
}

/*お悩み*/
.problem-box {
  width: 50%;
  margin: 0 auto;
  padding: 50px 0;
}

.problem-box02 {
  border-bottom: 2px dotted #fff !important;
  margin-bottom: 0 !important;
  padding-bottom: 50px !important;
}

.problem-box03 {
  border-bottom: none !important;
}

.problem-title h3 {
  font-size: 24px;
  line-height: 1.6;
  color: #fff;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: #D04FF7;
}

.fireworks {
  width: 186px;
  height: 186px;
}

.fireworks-flex {
  justify-content: space-evenly;
}