@charset "UTF-8";

/*セクション6 お問い合わせ*/
.inquire {
  width: 100%;
  height: auto;
  padding: 100px 0;
  position: relative;
}

.background03 {
  background-image: url('../images/pc01.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.inquire-contents {
  width: 60%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.inquire-contents h3 {
  font-size: 48px;
  color: #fff;
  margin-bottom: 30px;
}

.inquire-text {
  background-color: rgb(0, 0, 0, 0.7);
  width: 837px;
  margin: 0 auto;
  font-size: 16px;
  color: #fff;
  line-height: 1.6;
  padding: 30px 80px;
}

.inquire-button {
  background-color: #D04FF7;
  border-radius: 10px;
  color: #fff;
  width: 500px;
  text-align: center;
  padding: 20px 0 30px 0;
  margin: 80px auto;
}

.inquire-button p {
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px 6px 3px rgb(0, 0, 0, 0.5);
}

.inquire-tel {
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

/*---クラスの付与---*/
.inquire-contents,
.inquire-text,
.inquire-button,
.inquire-tel {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 2s ease, transform 2s ease; 
}

.inquire-contents.fade-in,
.inquire-text.fade-in,
.inquire-button.fade-in,
.inquire-tel.fade-in {
  opacity: 1;
  transform: translateY(0);
}