@charset "UTF-8";

/*セクション2 Newsエリア*/
.my-news {
  height: auto;
  position: relative;
  padding: 200px 0;
}

.background01 {
  background-image: url('../images/cyber.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*見出し*/
.my-title-area {
  margin: 0 auto;
  width: 70%;
  padding: 100px 0 50px 0;
  position: relative;
}

.my-title-area-back {
  width: 100%;
  height: 40px;
  background-color: #6B666C;
  clip-path: polygon(3% 0, 100% 0, 97% 100%, 0% 100%);
}

.my-title-text {
  display: flex;
  align-items: baseline;
  position: absolute;
  top: 35px;
  left: 60px;
}

.my-title {
  font-size: 80px;
  font-family: "Exo", sans-serif;
  font-weight: 300;
  color: #fff;
}

.my-subtitle {
  color: #E38FFD;
  font-size: 24px;
  padding-left: 20px;
}

.my-title-area {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 2s ease, transform 2s ease; 
}

.my-title-area.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/*アナウンスエリア*/
.announce-area {
  width: 980px;
  height: auto;
  margin: 0 auto;
}

/*表示切替*/
.announce-area {
  display: none;
}

.announce-title {
  background-color: #D04FF7;
  height: fit-content;
}

.announce-titlebox {
  display: flex;
  align-items: baseline;
  padding-bottom: 5px;
}

.announce-title h3 {
  font-size: 28px;
  font-family: "DotGothic16", sans-serif;
  color: #fff;
  font-weight: normal;
  padding: 0 10px;
}

.announce-list {
  background-color: #373333;
  width: 100%;
  height: 180px;
  padding: 20px 40px;
  color: #D04FF7;
  font-family: "DotGothic16", sans-serif;
}

.announce-list ul li {
  margin-bottom: 10px;
}

/* CSS:点滅カーソル */
.typing {
  white-space: pre-wrap;
}

.typing::after {
  content: "|";
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}