@charset "UTF-8";

/*セクション5 Office*/
.office-contents {
  width: 100%;
  padding: 150px 0;
  background-color: #000;
}

.office-image {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.office-image img {
  width: 48%;
  height: auto;
}

.office-info {
  width: 60%;
  margin: 70px auto;
  padding: 50px 0;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.8);
}

.suzaki-info {
  display: flex;
  justify-content: flex-start;
  padding: 30px 0;
  border-bottom: 2px dotted #000;
  margin: 0 100px;
}

.suzaki-info h3 {
  width: 145px;
  height: 78.39px;
  color: #fff;
  background-color: #D04FF7;
  font-size: 24px;
  padding: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

.suzaki-info p {
  font-size: 24px;
  line-height: 1.6;
  color: #000;
  padding: 20px;
  text-align: left;
}

.improve {
  margin: 30px auto;
  width: 40%;
  background-color: #9CD7F6;
  color: #fff;
  font-size: 24px;
  padding: 20px 50px;
  border-radius: 10px;
  border: 1px solid #2883CD;
}