@charset "UTF-8";

/* --- CSSリセット(モダン)--- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*html, body {
  height: 100%;
  font-family: sans-serif;
  overflow-x: hidden;
  width: 100%;
}*/

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}