@charset "UTF-8";

/*セクション8 --- レスポンシブ ---*/
@media screen and (max-width: 900px) {
  .top-video {
    background-size: cover;
    height: 100vh;
    z-index: 0;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
  }

  .my-cover-area {
    position: absolute;
    top: 15%;
    left: 10%;
  }
  
  .text01-back {
    width: 70%;
  }

  .text02-back {
    width: 90%;
  }
  
  .my-cover-text03 {
    width: 90%;
  }
  
  .announce-area {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  .my-title-area {
    width: 90%;
  }

  .news-section img {
    width: 90%;
  }

  /*About us*/
  .about-box {
    width: 100%;
  }
  
  .about-article {
    text-align: center;
  }

  .about-textbox {
    justify-content: center;
  }

  .about-image-right {
    margin-left: 0;
  }
  
  .about-image-right img {
    margin: 0 auto;
  }
  
  .about-image-left {
    margin-right: 0;
  }
  
  .about-image-left img {
    margin: 0 auto;
  }

  .about01 {
    flex-direction: column;
    margin-bottom: 100px;
  }

  .about02 {
    flex-direction: column-reverse;
  }

  /*真ん中パラララックス*/
  .about02-wrapper {
    background-color: rgb(255, 255, 255, 0.7);
    margin: 0 auto;
    width: 90%;
    height: auto;
  }

  /*スザキコンテンツ*/
  .suzaki-textbox {
    width: 90%;
  }

  .text-article {
    width: 50%;
  }
    
  .suzaki-character {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
  }
    
  .suzaki-character img {
    width: 143px;
    height: 151px;
  }

  /*オフィス*/
  .office-image {
    width: 90%;
  }

  .office-info {
    width: 90%;
  }

  .map iframe {
    width: 80%;
    height: 300px;
  }

  /*お問い合わせ*/
  .inquire-contents {
    width: 100%;
  }

  .inquire-text {
    width: 90%;
    padding: 30px 0;
  }

  /*FAQページ*/
  .qa-title {
    width: 70%;
  }
  
  .typeB-content {
    width: 90%;
  }
}