@charset "UTF-8";

/*セクション9 responsive540.css*/
@media screen and (max-width: 540px) { 
  .logo {
    display: none;
  }

  .my-cover-area {
    top: 25%;
    left: 5%;
  }

  .my-cover-text01 h2,
  .my-cover-text02 h2 {
    font-size: 18px;
    left: 20px;
  }

  .my-cover-text01 .text01-back {
    width: 200px;
    height: 25px;
  }
 
  .my-cover-text02 .text02-back {
    width: 300px;
    height: 25px;
  }

  .my-cover-text01 h2 {
    position: absolute;
    text-shadow: 2px 6px 3px rgb(0, 0, 0, 0.5);
    top: -8px;
    left: 15px;
  }

  .my-cover-text02 h2 {
    position: absolute;
    text-shadow: 2px 6px 3px rgb(0, 0, 0, 0.5);
    top: -8px;
    left: 15px;
  }

  .my-cover-text03 {
    width: 90%;
    font-size: 12px;
    padding: 20px 30px;
  }

  .my-cover-info {
    background-color: #D04FF7;
    border-radius: 10px;
    color: #fff;
    width: 80%;
    text-align: center;
    padding: 20px 0;
  }
    
  .my-cover-info h3 {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 6px 3px rgb(0, 0, 0, 0.5);
  }
    
  .my-cover-info p {
    text-shadow: 2px 6px 3px rgb(0, 0, 0, 0.5);
  }
    
  /*見出し*/
  .my-title-area {
    padding: 30px 0;
  }

  .my-title {
    font-size: 40px;
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fff;
  }
    
  .my-subtitle {
    color: #E38FFD;
    font-size: 14px;
    padding-left: 20px;
  }

  .my-title-text {
    top: -10px;
    left: 30px;
  }

  .my-title-area-back {
    height: 15px;
  }

  /*お知らせ*/
  .announce-list {
    font-size: 14px;
    line-height: 1.4;
    height: 260px;
  }

  .announce-list ul {
    padding-left: 0; 
  }

  .about-article h3 {
    font-size: 28px;
  }

  .text-num {
    font-size: 96px;
  }

  .text-article {
    width: 100%;
  }

  /*about*/
  .about-container {
    padding: 50px 0;
  }

  .about-box {
    width: 90%;
  }
    
  .text-article {
    width: 100%;
  }

  .text-article p {
    font-size: 16px;
  }

  .about02-textbox {
    text-align: center;
    padding: 30px 20px;
  }

  .about02-textbox h2 {
    font-size: 24px;
  }

  .about-image-right,
  .about-image-left {
    margin: 0 auto;
    width: 70%;
    height: auto;
  }

  /*スザキコンテンツ*/
  .suzaki-contents {
    text-align: center;
    padding: 50px 0;
  }

  .suzaki-text01 {
    width: 90%;
    height: auto;
    color: #fff;
    margin: 0 auto;
  }

  .suzaki-flex-L {
    flex-direction: column;
  }
    
  .suzaki-flex-R {
    flex-direction: column-reverse;
  }

  .suzaki-textbox h3 {
    font-size: 28px;
  }

  .suzaki-img {
    margin: 0 auto;
    width: 250px;
  }

  .suzaki-character img {
    width: 71px;
    height: 75px;
  }

  /*office*/
  .office-contents {
    width: 100%;
    padding: 50px 0;
  }

  .suzaki-info {
    padding: 10px 0;
    margin: 0 20px;
  }

  .suzaki-info h3 {
    width: 100px;
    height: 60px;
    color: #fff;
    background-color: #D04FF7;
    font-size: 16px;
    padding: 10px;
    margin-right: 0;
    border-radius: 10px;
    line-height: 40px;
  }
    
  .suzaki-info p {
    width: 200px;
    font-size: 16px;
    line-height: 1.6;
    color: #000;
    padding: 10px;
    text-align: left;
  }
    
  .improve {
    margin: 30px 20px;
    width: 90%;
    background-color: #9CD7F6;
    color: #fff;
    font-size: 16px;
    padding: 20px 50px;
    border-radius: 10px;
    border: 1px solid #2883CD;
  }
    
  /*お問い合わせ*/
  .inquire-text {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    color: #fff;
    line-height: 1.6;
    padding: 30px 10px;
  }

  .inquire-button {
    width: 90%;
  }

  .inquire-button p {
    font-size: 24px;
  }

  /*FAQページ*/
  .qa-title {
    width: 90%;
  }
    
  .qa-title-back {
    width: 100%;
    height: 30px;
  }
    
  .qa-text01 {
    font-size: 48px;
    top: 50px;
  }
    
  .qa-text02 {
    font-size: 24px;
    top: 95px;
  }
    
  .qa-mytitle-text {
    top: 15px;
  }
    
  .qa-my-title {
    font-size: 18px;
    font-weight: 400;
  }

  /*質問→B型事業所とは*/
  .typeB-content {
    width: 90%;
  }

  .typeB-exp01 {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .typeB-exp01-img {
    width: 60%;
    margin: 0 auto;
  }

  .typeB-exp01-img img {
    width: 185px;
    height: 256px;
  }

  .typeB-exp01-text {
    width: 100%;
    color: #fff;
  }

  .typeB-exp01-text p {
    font-size: 16px;
    line-height: 1.6;
    padding: 20px 0;
  }

  .typeB-exp01-text h3 {
    font-size: 16px;
    line-height: 1.6;
    text-decoration: underline;
    text-decoration-color: #D04FF7;
  }

  .typeB-exp02 {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
  }

  .typeB-exp02-title {
    text-align: center;
    padding-bottom: 20px;
  }

  .typeB-exp02 h3 {
    color: #fff;
    font-size: 24px;
  }

  .line01 {
    border-bottom: 2px dotted #fff;
  }

  .target-title {
    position: relative;
  }

  .target-title-back {
    background-color: #E38FFD;
    width: 111px;
    height: 30px;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
  }
  
  .target-title-text {
    color: #fff;
    text-shadow: 2px 6px 3px rgb(0, 0, 0, 0.5);
    font-size: 24px;
    position: absolute;
    top: -8px;
    left: 20px;
  }

  .exp01 {
    width: 80%;
    margin: 0 auto;
    color: #fff;
    font-size: 20px;
    padding: 20px 0;
  }

  .available {
    padding-top: 30px;
  }

  .available-back {
    background-color: #9CD7F6;
    width: 130px;
  }

  .typeB-exp02-text {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
    padding: 20px 0;
  }
  
  /*お悩み*/
  .problem-box {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
  }

  .problem-box h3 {
    text-align: center;
  }

  .problem-box02 {
    border-bottom: 2px dotted #fff !important;
    margin-bottom: 0 !important;
    padding-bottom: 50px !important;
  }

  .problem-box03 {
    border-bottom: none !important;
  }

  .problem-title h3 {
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #D04FF7;
  }

  .fireworks {
    width: 186px;
    height: 186px;
  }

  .fireworks-flex {
    justify-content: space-evenly;
  }
}